form {
  max-width: 450px;
  background: ivory;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  background-color: #0a2342;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

button:disabled {
  background-color: gray;
}